body{
    margin:0;
    font-family:Arial,sans-serif;
}

*{
    box-sizing:border-box;
}

.app{
    display:flex;
    height:100vh;
}

.modal{
    display:none;
}

.call-modal{
    display:none;
}

.emoji-picker{
    display:none;
}

#toast{
    display:none;
}